{
	"logFolder:"/var/log/dockercup",
    "default": {
        "ftpHostname": "ftp.hostname.com",
        "ftpUsername": "username",
        "ftpPassword": "password",
        "ftpRemoteFolder": "/vmbackup",
		"ftpInitString" : "set ssl:verify-certificate false",
        "numBackups": 4,
        "frequency": 7,
        "stop": true
    },
	"logFolder" : "/var/log/dockercup",
    "backup": [
        {
            "name": "container1",
            "stop": true,
            "numBackups": 7,
            "frequency": 1
        }
    ]
}
